<div class="userDetail">
  <%= question.user.email %>
</div>

<div class="content">
  <%= question.title %>
</div>
<div class="content">
  <%= question.desciption %>
</div>
<div class="other">
<%= link_to 'Show', question %>
</div>
