<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Welcome to quora.com, <%= @user.email%></h1>
    <p>
      You have successfully posted a new question to quora.com!!
    </p>
    <h4>Thanks for joining!</h4>
  </body>
</html>
